* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
}

.contenedor {
    width: 700px;
    height: 991px;
    margin: 0 auto;
    background-color: white;    
    position: relative;
    overflow: hidden;
}

.encabezado {
    width: 100%;
    height: calc(991px / 6);
    background-color: #1010107b;
    position: relative;
}

.foto-perfil {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
}

.texto-encabezado {
    position: absolute;
    left: 305px;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.texto-encabezado h1 {
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
    color: white;
}

.texto-encabezado p {
    font-size: 28px;
    text-align: center;
    color: #cccccc;
    letter-spacing: 1px;
}

.contenido-principal {
    display: flex;
    width: 100%;
    height: calc(991px * 5 / 6);
}

.icono {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
}

.columna-izquierda {
    width: 33.33%;
    background-color: rgba(112, 108, 108, 0.045);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columna-derecha {
    width: 66.66%;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
}

.columna-derecha h2,
.columna-izquierda h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.columna-derecha p,
.columna-derecha ul li,
.columna-izquierda ul li {
    font-size: 14px;
    margin-bottom: 11.5px;
    line-height: 1;
}

.columna-derecha ul,
.columna-izquierda ul {
    padding-left: 20px;
}

.columna-derecha h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.columna-derecha span {
    color: #666;
}

.columna-izquierda .contacto p {
    font-size: 14px;
    margin-bottom: 6px;
}

.idiomas ul {
    list-style-type: none;
    padding-left: 0;
}
